<div class="item user-block" *ngIf="userBlockIsVisible()">
    <!-- User picture-->
    <div class="user-block-picture">
        <div class="user-block-status">
            <img class="img-thumbnail rounded-circle" [src]="user.picture" alt="Avatar" />
            <div class="circle bg-success circle-lg"></div>
        </div>
    </div>
    <!-- Name and Job-->
    <div class="user-block-info">
        <a routerLink="/my/profile" *ngIf="profileService.profile$ | async as profile">
            <span class="user-block-name">{{ 'sidebar.WELCOME' | translate }}, {{ profile.user.username | titlecase }} </span>
            <span class="user-block-role">{{ profileService.ptype }}</span>
        </a>
    </div>
</div>
