<alert *ngIf="readonly" type="warning">
    К сожелению профили может просматривать только Дилер
</alert>
<div *ngIf="!readonly">
    <button type="button" class="list-group-item list-group-item-action">
        <div class="row" *ngIf="!isOpen" (click)="open()">
            <h4>{{ 'PROFILES.CREATE_NEW_BTN' | translate }}</h4>
        </div>
        <form [formGroup]="form" *ngIf="isOpen">
            <div>
                <label>{{ 'FIELDS.FIRST_NAME' | translate }}:</label>
                <input type="text" class="form-control" formControlName="first_name">
                <div
                    *ngIf="form.controls.first_name.invalid && (form.controls.first_name.dirty || form.controls.first_name.touched)">
                    <div *ngIf="form.controls.first_name.errors.minlength" class="alert alert-danger">
                        {{ 'ERRORS.MINLENGTH' | translate }}
                    </div>
                    <div *ngIf="form.controls.first_name.errors.required" class="alert alert-danger">
                        {{ 'FIELDS.FIRST_NAME' | translate }} {{ 'ERRORS.IS_REQUIRED' | translate }}.
                    </div>
                </div>
            </div>
            <div>
                <label>{{ 'FIELDS.LAST_NAME' | translate }}:</label>
                <input type="text" class="form-control" formControlName="last_name">
                <div
                    *ngIf="form.controls.last_name.invalid && (form.controls.last_name.dirty || form.controls.last_name.touched)">
                    <div *ngIf="form.controls.last_name.errors.minlength" class="alert alert-danger">
                        {{ 'ERRORS.MINLENGTH' | translate }}
                    </div>
                    <div *ngIf="form.controls.last_name.errors.required" class="alert alert-danger">
                        {{ 'FIELDS.LAST_NAME' | translate }} {{ 'ERRORS.IS_REQUIRED' | translate }}.
                    </div>
                </div>
            </div>
            <div>
                <label>{{ 'FIELDS.USERNAME' | translate }}:</label>
                <input type="text" class="form-control" formControlName="username">
                <div
                    *ngIf="form.controls.username.invalid && (form.controls.username.dirty || form.controls.username.touched)">
                    <div *ngIf="form.controls.username.errors.minlength" class="alert alert-danger">
                        {{ 'ERRORS.MINLENGTH' | translate }}
                    </div>
                    <div *ngIf="form.controls.username.errors.required" class="alert alert-danger">
                        {{ 'FIELDS.USERNAME' | translate }} {{ 'ERRORS.IS_REQUIRED' | translate }}.
                    </div>
                </div>
            </div>
            <div>
                <label>{{ 'FIELDS.EMAIL' | translate }}:</label>
                <input type="email" class="form-control" formControlName="email">
                <div *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)">
                    <div *ngIf="form.controls.email.errors.email" class="alert alert-danger">
                        {{ 'ERRORS.INCORRECT_EMAIL' | translate }}
                    </div>
                    <div *ngIf="form.controls.email.errors.required" class="alert alert-danger">
                        {{ 'FIELDS.EMAIL' | translate }} {{ 'ERRORS.IS_REQUIRED' | translate }}.
                    </div>
                </div>
            </div>
            <div>
                <label>{{ 'FIELDS.PASSWORD' | translate }}:</label>
                <input type="password" class="form-control" formControlName="password">
                <div *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)"
                    class="alert alert-warning">
                    <span>Минимум: </span>
                    <ul>
                        <li>8 символов</li>
                        <li>Cимвол с мальнькой буквы</li>
                        <li>Cимвол с большой буквы</li>
                        <li>Число</li>
                        <li>Спец. символ</li>
                    </ul>
                </div>
            </div>
            <div *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched) && form.controls.password.errors.required"
                class="alert alert-danger">
                {{ 'FIELDS.PASSWORD' | translate }} {{ 'ERRORS.IS_REQUIRED' | translate }}.
            </div>
            <div class="form-group">
                <label>{{ 'FIELDS.PTYPE' | translate }}:</label>
                <select formControlName="ptype" class="form-control">
                    <option *ngFor="let ptype of profileService.ptypes" [ngValue]="ptype.value">
                        {{ ptype.name }}
                    </option>
                </select>
            </div>
            <div>
                <label>{{ 'FIELDS.DESC' | translate }}:</label>
                <textarea class="form-control" formControlName="desc"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="{{ 'BUTTONS.CREATE' | translate }}" (click)="create()">
            <input type="button" class="btn" value="{{ 'BUTTONS.CLOSE' | translate }}" (click)="open()">
        </form>
    </button>
    <div *ngFor="let error of errors">
        <div class="alert alert-danger">
            {{error}}
        </div>
    </div>
    <div *ngFor="let msg of sucs">
        <alert type="success">
            <div *ngIf="msg.translate">
                {{ msg.content | translate:msg.params }}
            </div>
            <div *ngIf="!msg.translate">
                {{ msg.content }}
            </div>
        </alert>
    </div>
    <!-- filters -->
    <div class="filters-form">
        <form [formGroup]="filterForm">
            <label>{{ 'PROFILES.FILTERS.SEARCH_BY' | translate }}:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="query" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" *ngIf="filterForm.controls.query.dirty"
                        (click)="cancelSearching()">
                        <i class="fas fa-times"></i>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" (click)="search()">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd"
                                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <h4>{{ 'PROFILES.TITLE' | translate }}:</h4>
        <div class="list-group">
            <app-profile-detail *ngFor="let profile of profiles" [profileUsername]=profile.user.username>
            </app-profile-detail>
        </div>
        <pagination *ngIf="pagination" [totalItems]="totalItems" [(ngModel)]="currentPage"
            (pageChanged)="pageChanged($event)" [itemsPerPage]="itemsPerPage"></pagination>
    </div>
</div>