<button *ngIf="!readonly" type="button" class="list-group-item list-group-item-action">
    <div (click)="open()" *ngIf="!isOpen">
        <h4>{{ 'NODES.CREATE_NEW_BTN' | translate }}</h4>
    </div>
    <form [formGroup]="form" *ngIf="isOpen">
        <div>
            <label>{{ 'FIELDS.NAME' | translate }}:</label>
            <input class="form-control" type="text" formControlName="name" placeholder="Имя">
            <div *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls.name.errors.minlength" class="alert alert-danger">
                    {{ 'ERRORS.MINLENGTH' | translate }}
                </div>
                <div *ngIf="form.controls.name.errors.required" class="alert alert-danger">
                    {{ 'FIELDS.NAME' | translate }} {{ 'ERRORS.IS_REQUIRED' | translate }}.
                </div>
            </div>
        </div>
        <div>
            <label>{{ 'FIELDS.APPS' | translate }}:</label>
            <select multiple class="form-control" formControlName="apps">
                <option *ngFor="let app of apps" [ngValue]="app.id">
                    {{app.name}}
                </option>
            </select>
            <div *ngIf="form.controls.apps.invalid && form.controls.apps.required && (form.controls.apps.dirty || form.controls.apps.touched)"
                class="alert alert-danger">
                Приложения объязальное поле
            </div>
        </div>
        <div>
            <label>{{ 'FIELDS.USERS' | translate }}</label>
            <tag-input theme='minimal' formControlName="users"></tag-input>
        </div>
        <div>
            <label>{{ 'FIELDS.GEOPOS' | translate }}:</label>
            <app-map [enableOnMapClick]=true></app-map>
        </div>
        <input type="submit" class="btn btn-primary" value="{{ 'BUTTONS.CREATE' | translate }}" (click)="create()">
        <input type="button" class="btn" value="{{ 'BUTTONS.CLOSE' | translate }}" (click)="open()">
    </form>
</button>

<!-- Danger error alert -->
<div *ngFor="let error of errors">
    <div class="alert alert-danger">
        {{error}}
    </div>
</div>
<!-- Success alerts -->
<div *ngFor="let msg of sucs">
    <alert type="success">
        <div *ngIf="msg.translate">
            {{ msg.content | translate:msg.params }}
        </div>
        <div *ngIf="!msg.translate">
            {{ msg.content }}
        </div>
    </alert>
</div>

<!-- filters -->
<div class="filters-form">
    <form [formGroup]="filterForm">
        <label>{{ 'NODES.FILTERS.SEARCH_BY' | translate }}:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="query" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" *ngIf="filterForm.controls.query.dirty"
                    (click)="cancelSearching()">
                    <i class="fas fa-times"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button" (click)="search()">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd"
                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <table class="min-vh-100 table table-hover">
        <thead>
            <tr>
                <th class="change-order-btns" scope="col" (click)="changeOrder(orders[0])">id
                    <span>
                        <i class="fas fa-arrow-up" *ngIf="orders[0].dis"></i>
                        <i class="fas fa-arrow-down" *ngIf="!orders[0].dis"></i>
                    </span>
                </th>
                <th class="change-order-btns"  scope="col" (click)="changeOrder(orders[1])">{{ 'FIELDS.NAME' | translate }}
                    <span>
                        <i class="fas fa-arrow-up" *ngIf="orders[1].dis"></i>
                        <i class="fas fa-arrow-down" *ngIf="!orders[1].dis"></i>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let node of nodes">
                <th scope="row">
                    {{ node.id }}
                </th>
                <td>
                    <a routerLink="/nodes/{{ node.id }}">{{ node.name }}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <alert *ngIf="!nodes?.length" type="info">
        {{ 'INFO.LIST_IS_EMPTY' | translate }}
    </alert>
    <pagination *ngIf="pagination" [totalItems]="totalItems" [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)" [itemsPerPage]="itemsPerPage"></pagination>
</div>