<button *ngIf="isVisible" type="button" class="list-group-item list-group-item-action">
    <div class="row" (click)="open()">
        <div class="col-md-auto">
            <span *ngIf="!isOpen">></span>
            <span *ngIf="isOpen">^</span>
        </div>
        <div class="col">
            <h4>{{ app?.name }}</h4>
        </div>
    </div>
    <form *ngIf="!isChild && isOpen" [formGroup]="form">
        <div class="form-group row">
            <label class="col-md-auto">id:</label>
            <div class="col">{{ app?.id }}</div>
        </div>
        <div class="form-group">
            <label>{{ 'FIELDS.NAME' | translate }}:</label>
            <input type="text" formControlName="name" class="form-control" placeholder="">
            <div *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls.name.errors.minlength" class="alert alert-danger">
                {{ 'ERRORS.MINLENGTH' | translate }}
            </div>
            <div *ngIf="form.controls.name.errors.required" class="alert alert-danger">
                {{ 'FIELDS.NAME' | translate }} {{ 'ERRORS.IS_REQUIRED' | translate }}.
            </div>
        </div>
        </div>
        <div class="row">
            <label class="col-md-auto">{{ 'FIELDS.OWNER' | translate }}:</label>
            <div class="col-md-auto">{{ app?.owner }} </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" formControlName="is_active" type="checkbox">
            <label>{{ 'FIELDS.ENABLE_DISABLE' | translate }}:</label>
        </div>
        <div *ngFor="let error of errors">
            <div class="alert alert-danger">
                {{error}}
            </div>
        </div>
        <div *ngFor="let msg of sucs">
            <alert type="success">
              <div *ngIf="msg.translate">
                {{ msg.content | translate:msg.params }}
              </div>
              <div *ngIf="!msg.translate">
                {{ msg.content }}
              </div>
            </alert>
        </div>
        <input type="submit" class="btn btn-primary" 
            value="{{ 'BUTTONS.UPDATE' | translate }}" (click)="save()">
        <input type="button" class="btn btn-danger" value="{{ 'BUTTONS.DELETE' | translate }}" (click)="delete()">
    </form>
    <div *ngIf="isChild && isOpen">
        <div class=" row">
            <label class="col-md-auto">id:</label>
            <div class="col">{{ app?.id }}</div>
        </div>
        <div class="row">
            <label class="col-md-auto">{{ 'FIELDS.NAME' | translate }}:</label>
            <div class="col">{{ app?.name }}</div>
        </div>
        <div class="row">
            <label class="col-md-auto">{{ 'FIELDS.OWNER' | translate }}:</label>
            <div class="col">{{ app?.owner }} </div>
        </div>
        <div class="row">
            <label class="col-md-auto">{{ 'FIELDS.ENABLE_DISABLE' | translate }}:</label>
            <div class="col">{{ app?.is_active }}</div>
        </div>
    </div>
</button>