<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
                <a href="#">
                    <img class="block-center rounded" src="assets/img/logo.png" alt="Image" />
                </a>
            </div>
            <div class="card-body">
                <p class="text-center py-2">{{ 'LOGIN.TITLE' | translate }}</p>
                <form [formGroup]="valForm" class="form-validate mb-3" role="form" name="loginForm" novalidate=""
                    (submit)="submitForm($event, valForm.value)">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" id="exampleInputUsername1" type="text"
                                name="username" placeholder="{{ 'FIELDS.USERNAME' | translate }}" autocomplete="off"
                                formControlName="username" required />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    @
                                </span>
                            </div>
                        </div>
                        <div class="text-danger"
                            *ngIf="valForm.controls['username'].hasError('required') && (valForm.controls['username'].dirty || valForm.controls['username'].touched)">
                            This field is required</div>
                        <div class="text-danger"
                            *ngIf="valForm.controls['username'].hasError('username') && (valForm.controls['username'].dirty || valForm.controls['username'].touched)">
                            This field must be a valid username address</div>
                    </div>
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" id="exampleInputPassword1" type="password"
                                name="password" placeholder="{{ 'FIELDS.PASSWORD' | translate }}"
                                formControlName="password" required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-lock"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger"
                            *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">
                            This field is required</div>
                    </div>
                    <!-- <div class="clearfix">
                        <div class="checkbox c-checkbox float-left mt0">
                            <label>
                            <input type="checkbox" value="" name="account_remember" />
                            <span class="fa fa-check"></span>Remember Me</label>
                        </div>
                    </div> -->
                    <div *ngFor="let error of errors">
                        <alert type="danger">
                            <strong>Error!</strong> {{ error }}
                        </alert>
                    </div>
                    <button class="btn btn-block btn-primary mt-3"
                        type="submit">{{ 'BUTTONS.LOGIN' | translate }}</button>
                </form>
            </div>
        </div>
        <!-- Change language -->
        <div>
            <ul class="navbar-nav flex-row">
                <li class="ml-1">
                    <a class="nav-link btn btn-link" disabled>{{ 'LOGIN.CHANGE_LANG_TO' | translate }}:</a>
                </li>
                <li *ngFor="let lang of getLangs()" class="ml-1">
                    <a class="nav-link btn btn-link" (click)="setLang(lang.code)">
                        {{ lang.code }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>