<div class="unwrap">
    <div class="bg-cover" style="background-image: url(assets/img/profile-bg.jpg);">
        <div class="p-4 text-center text-white">
            <img class="img-thumbnail rounded-circle thumb128" src="assets/img/user/09.jpg" alt="Image" />
            <h3 class="m-0">{{ profile?.user.username }}</h3>
            <p>{{ ptype }}</p>
            <p>{{ profile?.desc }}</p>
        </div>
    </div>
    <div class="container-sm mx-auto shadow-sm p-3 mb-5 bg-white rounded">
        <form [formGroup]="form">
            <div class="form-group">
                <label>{{ 'FIELDS.FIRST_NAME' | translate }}:</label>
                <input type="text" formControlName="first_name" class="form-control">
                <div *ngIf="form.controls.first_name.invalid && form.controls.first_name.errors.minlength && (form.controls.first_name.dirty || form.controls.first_name.touched)" class="alert alert-danger">
                    {{ 'ERRORS.MINLENGTH' | translate }}
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'FIELDS.LAST_NAME' | translate }}:</label>
                <input type="text" formControlName="last_name" class="form-control">
                <div *ngIf="form.controls.last_name.invalid && form.controls.last_name.errors.minlength && (form.controls.last_name.dirty || form.controls.last_name.touched)" class="alert alert-danger">
                    {{ 'ERRORS.MINLENGTH' | translate }}
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'FIELDS.EMAIL' | translate }}:</label>
                <input type="email" formControlName="email" class="form-control">
                <div *ngIf="form.controls.email.invalid && form.controls.email.errors.email && (form.controls.email.dirty || form.controls.email.touched)" class="alert alert-danger">
                    {{ 'ERRORS.INCORRECT_EMAIL' | translate }}
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'FIELDS.DESC' | translate }}:</label>
                <textarea formControlName="desc" class="form-control">
                </textarea>
            </div>
            <div *ngFor="let msg of defaultFormSucs">
                <alert type="success">
                  <div *ngIf="msg.translate">
                    {{ msg.content | translate:msg.params }}
                  </div>
                  <div *ngIf="!msg.translate">
                    {{ msg.content }}
                  </div>
                </alert>
            </div>
            <button type="submit" class="btn btn-primary" (click)=save()>{{ 'BUTTONS.UPDATE' | translate }}</button>
        </form>
    </div>
    <div class="container-sm mx-auto shadow-sm p-3 mb-5 bg-white rounded">
        <form [formGroup]="changePasswordForm">
            <div class="form-group">
                <label>{{ 'FIELDS.PASSWORD' | translate }}:</label>
                <input type="password" formControlName="password" class="form-control">
            </div>
            <div *ngIf="changePasswordForm.controls.password.dirty || changePasswordForm.controls.password.touched" class="alert alert-warning">
                <span>Минимум: </span>
                <ul>
                    <li>8 символов</li>
                    <li>Cимвол с мальнькой буквы</li>
                    <li>Cимвол с большой буквы</li>
                    <li>Число</li>
                    <li>Спец. символ</li>
                </ul>
            </div>
            <div class="alert alert-danger" *ngIf="changePasswordForm.controls.password.invalid && (changePasswordForm.controls.password.dirty || changePasswordForm.controls.password.touched) && changePasswordForm.controls.password.errors.required">
                {{ 'FIELDS.PASSWORD' | translate }} {{ 'ERRORS.IS_REQUIRED' | translate }}.
            </div>
            <div *ngFor="let msg of changePasswordFormSucs">
                <alert type="success">
                  <div *ngIf="msg.translate">
                    {{ msg.content | translate:msg }}
                  </div>
                  <div *ngIf="!msg.translate">
                    {{ msg.content }}
                  </div>
                </alert>
              </div>
            <button type="submit" class="btn btn-primary"
                (click)=changePassword()>{{ 'BUTTONS.CHANGE_PASSWORD' | translate }}</button>
        </form>
    </div>
</div>