<div class="container mx-auto shadow-sm p-3 mb-5 bg-white rounded">
    <form [formGroup]="form" *ngIf="isVisible && !readonly">
        <div class="row">
            <label class="col-md-auto">id:</label>
            <div class="col">{{ node?.id }}</div>
        </div>
        <div>
            <label>{{ 'FIELDS.NAME' | translate }}:</label>
            <input class="form-control" type="text" formControlName="name" placeholder="Имя">
            <div *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)"
            class="alert alert-danger">
                <div *ngIf="form.controls.name.errors.minlength" class="alert alert-danger">
                    {{ 'ERRORS.MINLENGTH' | translate }}
                </div>
                <div *ngIf="form.controls.name.errors.required" class="alert alert-danger">
                    {{ 'FIELDS.NAME' | translate }} {{ 'ERRORS.IS_REQUIRED' | translate }}.
                </div>
            </div>
        </div>
        <div>
            <label>{{ 'FIELDS.APPS' | translate }}:</label>
            <select multiple class="form-control" formControlName="apps">
                <option *ngFor="let app of apps" [ngValue]="app.id">
                    {{app.name}}
                </option>
            </select>
            <div *ngIf="form.controls.apps.invalid && form.controls.apps.errors.required && (form.controls.apps.dirty || form.controls.apps.touched)"
                class="alert alert-danger">
                Приложения объязальное поле
            </div>
        </div>
        <div>
            <label>{{ 'FIELDS.USERS' | translate }}</label>
            <tag-input theme='minimal' formControlName="users"></tag-input>
        </div>
        <div>
            <label>{{ 'FIELDS.GEOPOS' | translate }}:</label>
            <app-map [latlng]=node.place [enableOnMapClick]=true></app-map>
        </div>
        <div *ngIf="errors.length" class="alert alert-danger">
            {{errors}}
        </div>
        <div *ngFor="let msg of sucs">
            <alert type="success">
                <div *ngIf="msg.translate">
                {{ msg.content | translate:msg.params }}
                </div>
                <div *ngIf="!msg.translate">
                {{ msg.content }}
                </div>
            </alert>
        </div>
        <input type="submit" class="btn btn-primary"
            value="{{ 'BUTTONS.UPDATE' | translate }}" (click)="save()">
        <input type="button" class="btn btn-danger" value="{{ 'BUTTONS.DELETE' | translate }}" (click)="delete()">
    </form>
    <form [formGroup]="form" *ngIf="isVisible && readonly">
        <div class="row">
            <label class="col-md-auto">id:</label>
            <div class="col">{{ node?.id }}</div>
        </div>
        <div class="row">
            <label class="col-md-auto">{{ 'FIELDS.NAME' | translate }}:</label>
            <div class="col">{{ node?.name }}</div>
        </div>
        <div>
            <label>{{ 'FIELDS.USERS' | translate }}</label>
            <tag-input theme='minimal' formControlName="users"></tag-input>
        </div>
        <div>
            <label>{{ 'FIELDS.APPS' | translate }}:</label>
            <app-app-list [appsID]=node.apps></app-app-list>
        </div>
        <div>
            <label>{{ 'FIELDS.GEOPOS' | translate }}:</label>
            <app-map [latlng]=node.place></app-map>
        </div>
    </form>
</div>