<button *ngIf="isVisible" type="button" class="list-group-item list-group-item-action">
    <div class="row" (click)="open()">
        <div class="col-md-auto">
            <span *ngIf="!isOpen">></span>
            <span *ngIf="isOpen">^</span>
        </div>
        <div class="col">
            <h4>{{ profile?.user?.username }}</h4>
        </div>
    </div>
    <form [formGroup]="form" *ngIf="!readonly && isOpen">
        <div class="form-group">
            <label>{{ 'FIELDS.FIRST_NAME' | translate }}:</label>
            <input type="text" class="form-control" formControlName="first_name">
            <div *ngIf="form.controls.first_name.invalid && form.controls.first_name.errors.minlength && (form.controls.first_name.dirty || form.controls.first_name.touched)" class="alert alert-danger">
                {{ 'ERRORS.MINLENGTH' | translate }}
            </div>
        </div>
        <div class="form-group">
            <label>{{ 'FIELDS.LAST_NAME' | translate }}:</label>
            <input type="text" class="form-control" formControlName="last_name">
            <div *ngIf="form.controls.last_name.invalid && form.controls.last_name.errors.minlength && (form.controls.last_name.dirty || form.controls.last_name.touched)" class="alert alert-danger">
                    {{ 'ERRORS.MINLENGTH' | translate }}
            </div>
        </div>
        <div class="form-group">
            <label>{{ 'FIELDS.EMAIL' | translate }}:</label>
            <input type="email" class="form-control" formControlName="email">
            <div *ngIf="form.controls.email.invalid && form.controls.email.errors.email && (form.controls.email.dirty || form.controls.email.touched)" class="alert alert-danger">
                {{ 'ERRORS.INCORRECT_EMAIL' | translate }}
            </div>
        </div>
        <div class="form-group">
            <label>{{ 'FIELDS.DEALER' | translate }}:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" formControlName="dealer">
              </div>
            <div *ngIf="form.controls.dealer.invalid && form.controls.last_name.errors.minlength && (form.controls.dealer.dirty || form.controls.dealer.touched)"
                class="alert alert-danger">
                {{ 'ERRORS.MINLENGTH' | translate }}
            </div>
        </div>
        <div class="form-group">
            <label>{{ 'FIELDS.PTYPE' | translate }}:</label>
            <select formControlName="ptype" class="form-control">
                <option *ngFor="let ptype of profileService.ptypes" [ngValue]="ptype.value">
                    {{ptype.name}}
                </option>
            </select>
        </div>
        <div class="form-check">
            <input type="checkbox" formControlName="is_active">
            <label>{{ 'FIELDS.ENABLE_DISABLE' | translate }}</label>
        </div>
        <div class="form-group">
            <label>{{ 'FIELDS.DESC' | translate }}:</label>
            <textarea class="form-control" formControlName="desc"></textarea>
        </div>
        <div *ngFor="let error of errors">
            <div class="alert alert-danger">
                {{error}}
            </div>
        </div>
        <div *ngFor="let msg of sucs">
            <alert type="success">
                <div *ngIf="msg.translate">
                    {{ msg.content | translate:msg.params }}
                </div>
                <div *ngIf="!msg.translate">
                    {{ msg.content }}
                </div>
            </alert>
        </div>
        <input type="submit" class="btn btn-primary"
            value="{{ 'BUTTONS.UPDATE' | translate }}" (click)="save()">
        <input type="button" class="btn btn-danger" value="{{ 'BUTTONS.DELETE' | translate }}" (click)="delete()">
    </form>
    <div *ngIf="readonly && isOpen">
        <div class="row">
            <label class="col-md-auto">{{ 'FIELDS.FIRST_NAME' | translate }}:</label>
            <div class="col">{{ profile.user.first_name }}</div>
        </div>
        <div class="row">
            <label class="col-md-auto">{{ 'FIELDS.LAST_NAME' | translate }}:</label>
            <div class="col">{{ profile.user.last_name }}</div>
        </div>
        <div class="row">
            <label class="col-md-auto">{{ 'FIELDS.EMAIL' | translate }}:</label>
            <div class="col">{{ profile.user.email }}</div>
        </div>
        <div class="row">
            <label class="col-md-auto">{{ 'FIELDS.DEALER' | translate }}:</label>
            <div class="col">{{ profile.dealer }}</div>
        </div>
        <div class="row">
            <label class="col-md-auto">{{ 'FIELDS.PTYPE' | translate }}:</label>
            <div class="col">{{ profileService.ptype }}</div>
        </div>
        <div class="row">
            <label class="col-md-auto">{{ 'FIELDS.ENABLE_DISABLE' | translate }}</label>
            <div class="col">{{ profile.user.is_active }}</div>
        </div>
        <div class="row">
            <label class="col-md-auto">{{ 'FIELDS.DESC' | translate }}:</label>
            <div class="col">{{ profile.desc }}</div>
        </div>
    </div>
</button>