<form *ngIf="isVisible && !readonly" class="shadow-sm p-3 mb-5 bg-white rounded">
    <div class="form-group row">
        <label class="col-md-auto">id:</label>
        <div class="col">{{ data?.id }}</div>
    </div>
    <div class="row">
        <label class="col-md-auto">{{ 'FIELDS.NODE' | translate }}:</label>
        <a routerLink="/nodes/{{ data?.node }}">{{ data?.node_name }}</a>
    </div>
    <div class="row">
        <label class="col-md-auto">{{ 'FIELDS.DATETIME_UPDATED' | translate }}:</label>
        <div class="col">{{ data?.updated }}</div>
    </div>
    <div class="row">
        <label class="col-md-auto">{{ 'FIELDS.DATETIME_CREATED' | translate }}:</label>
        <div class="col">{{ data?.created }}</div>
    </div>
    <div>
        <label>{{ 'FIELDS.OPERATIONS' | translate }}:</label>
        <app-micro [code]="data.payload"></app-micro>
        <div *ngFor="let error of editorErrors">
            <alert type="danger">
                {{error}}
            </alert>
        </div>
    </div>
    <div *ngFor="let error of errors">
        <div class="alert alert-danger">
            {{error}}
        </div>
    </div>
    <div *ngFor="let msg of sucs">
        <alert type="success">
            <div *ngIf="msg.translate">
            {{ msg.content | translate:msg.params }}
            </div>
            <div *ngIf="!msg.translate">
            {{ msg.content }}
            </div>
        </alert>
    </div>
    <input type="button" class="btn btn-primary" value="{{ 'BUTTONS.UPDATE' | translate }}"
        (click)="save()">
    <input type="button" class="btn btn-danger" value="{{ 'BUTTONS.DELETE' | translate }}" (click)="delete()">
</form>
<!-- When readonly mode -->
<div *ngIf="isVisible && readonly" class="shadow-sm p-3 mb-5 bg-white rounded">
    <div class="row">
        <label class="col-md-auto">id:</label>
        <div class="col">{{ data?.id }}</div>
    </div>
    <div class="row">
        <label class="col-md-auto">{{ 'FIELDS.DATETIME_UPDATED' | translate }}:</label>
        <div class="col">{{ data?.updated }}</div>
    </div>
    <div class="row">
        <label class="col-md-auto">{{ 'FIELDS.DATETIME_CREATED' | translate }}:</label>
        <div class="col">{{ data?.created }}</div>
    </div>
    <div class="row">
        <label class="col-md-auto">{{ 'FIELDS.NODE' | translate }}:</label>
        <a routerLink="/nodes/{{ data?.node }}">{{ data?.node_name }}</a>
    </div>
    <div>
        <label>{{ 'FIELDS.OPERATIONS' | translate }}:</label>
        <app-micro [code]=data.payload></app-micro>
        <div *ngFor="let error of editorErrors">
            <alert type="danger">
                {{error}}
            </alert>
        </div>
    </div>
</div>