<div *ngIf="!isChild">
  <button *ngIf="!readonly" type="button" class="list-group-item list-group-item-action">
    <div *ngIf="!isOpen" (click)="open()">
      <h4>{{ 'APPS.CREATE_NEW_BTN' | translate }}</h4>
    </div>
    <form *ngIf="isOpen" [formGroup]="form">
      <div>
        <label>{{ 'FIELDS.NAME' | translate }}:</label>
        <input type="text" formControlName="name" class="form-control" placeholder="">
        <div *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)"
          class="alert alert-danger">
          <div *ngIf="form.controls.name.errors.minlength" class="alert alert-danger">
            {{ 'ERRORS.MINLENGTH' | translate }}
          </div>
          <div *ngIf="form.controls.name.errors.required" class="alert alert-danger">
            {{ 'FIELDS.NAME' | translate }} {{ 'ERRORS.IS_REQUIRED' | translate }}.
          </div>
        </div>
      </div>
      <input type="button" class="btn btn-primary" value="{{ 'BUTTONS.CREATE' | translate }}" (click)="create()">
      <input type="button" class="btn" value="{{ 'BUTTONS.CLOSE' | translate }}" (click)="open()">
    </form>
  </button>
  
  <div *ngFor="let error of errors">
    <alert type="danger">
      {{error}}
    </alert>
  </div>
  <div *ngFor="let msg of sucs">
    <alert type="success">
      <div *ngIf="msg.translate">
        {{ msg.content | translate:msg.params }}
      </div>
      <div *ngIf="!msg.translate">
        {{ msg.content }}
      </div>
    </alert>
  </div>
  
  <!-- filters -->
  <div class="filters-form">
    <form [formGroup]="filterForm">
      <label>{{ 'APPS.FILTERS.SEARCH_BY' | translate }}:</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" formControlName="query" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" *ngIf="filterForm.controls.query.dirty"
            (click)="cancelSearching()">
            <i class="fas fa-times"></i>
          </button>
          <button class="btn btn-outline-secondary" type="button" (click)="search()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
              <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <alert *ngIf="!apps.length" type="info" class="ml-1">
    {{ 'INFO.LIST_IS_EMPTY' | translate }}
  </alert>
  <div class="list-group">
    <app-app-detail *ngFor="let app of apps" [appID]=app.id [isChild]="isChild"></app-app-detail>
  </div>
  <pagination *ngIf="pagination" [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
    [itemsPerPage]="itemsPerPage"></pagination>
</div>